/* inter font */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* tangerine font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Tangerine:wght@400;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* common css */

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: inter;
    /* background: rgb(185, 185, 185); */
    background: black;
}

.container{
    margin: 50px 75px;
}

h3{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    /* text-align: center; */
}

p{
    color: rgba(255, 255, 255, 0.5);
    margin: 14px 0;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.3px;
}

/* header nav section */

.header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    padding: 50px 75px;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.nav-logo{
    color: rgb(230, 83, 60);
    font-size: 2.1rem;
    font-weight: 800;
}


.nav-links{
    display: flex;
    gap: 15px;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 36px;
}

.nav-links a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 400;
    padding: 8px 20px 5px;
    transition: 0.5s ease-in;
}

.nav-links a:hover{
    background: rgb(230, 83, 60);
    border-radius: 45px;
}

.bar{
    color: white;
    display: none;
}

/* nav responsive design */

@media screen and (max-width:576px) {
    .nav-option{
        display: none;
    }
    .bar{
        display: flex
    }
}

/* banner section */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 100px;
}

.banner-text{
    flex-basis: 50%;
}



.banner-img{
    flex-basis: 50%;
    position: absolute;
    top: 0;
    right: 50px;
}

.banner-title{
    color: rgb(255, 255, 255);
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 120%;
    margin: 40px 0;
}

.tangerine{
    font-family: tangerine;
    font-size: 9rem;
}

.banner-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    line-height: 110%;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}

.btn-primary{
    width: 224px;
    height: 54px;
    padding: 16px 40px;
    margin: 0 15px;
    background: black;
    border: 1px solid white;
    border-radius: 45px;
    color: white;
    transition: 0.7s ease;
    cursor: pointer;
}

.btn-primary:hover{
    background: rgb(230, 83, 60);
    border: none;
}


.banner-card-1{
    color: white;
    position: absolute;
    top: 30%;
    right: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 15px 30px 15px 15px;
}

.banner-card-2{
    color: white;
    position: absolute;
    top: 30%;
    right: 50%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 15px 30px 15px 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    top: 90%;
    right: 25%;
}

.banner-card-1 h4, .banner-card-2 h4{
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 1px;
}

.banner-card-1 p, .banner-card-2 p{
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.65);
    text-align: left;
}

.banner-card-2 .ball{
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
}

/* banner section responsive for mobile */

@media screen and (max-width: 576px) {

    .container{
        margin: 0px 0px;
    }
    .banner{
        flex-direction: column;
    }
    .banner-img{
        position: relative;
        margin: 20px auto 0;
    }
    .banner-title{
        font-size: 2.5rem;
    }
    .tangerine{
        font-size: 4rem;
    }
    .btn-primary{
        margin-top: 10px;
    }
    .banner-card-1{
        top: 55%;
        right: -25%;
    }
    .banner-card-2{
        top: 80%;
        left: -10%;
    }
    .banner-card-2 .ball{
        width: 30px;
        height: 30px;
        background: rgb(230, 83, 60);
        border-radius: 50%;
    }
    .banner-card-1 h4, .banner-card-2 h4{
        font-size: 1.5rem;
        font-weight: 800;
        letter-spacing: 0.5px;
    }
}


/* banner section responsive for tablets */

@media screen and (max-width: 992px) and (min-width: 577px) {
    .banner-btn-container{
        display: flex;
    }
    .btn-primary{
        width: 130px;
        height: 45px;
        padding: 16px 20px;
        margin: 0 15px;
        background: black;
        border: 1px solid white;
        border-radius: 45px;
        color: white;
        transition: 0.7s ease;
        cursor: pointer;
    }
    .banner-card-2{
        top: 55%;
        right: 20%;
    }
    .banner-img{
        position: relative;
        margin-left: 40px;
    }
    
}







/* habit section */

.habit-text{
    text-align: center;
    margin-bottom: 70px;
}

.habit-info-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.habit-info-container h4{
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 120%;
}

.info-img{
    border-radius: 50%;
}

.info1, .info2, .info3, .info4{
    text-align: center;
}


/* habit section for mobile */

@media screen and (max-width: 576px) {
    .habit-text{
        margin: 0 auto 40px;
        width: 90%;
    }
    .habit-text h3{
        font-size: 32px;
    }
    .habit-info-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-around;
        align-items: center;
        width: 70%;
        margin: 0 auto 40px;
    }
}


/* habit section responsive for tablet */


@media screen and (min-width: 577px) and (max-width: 992px)  {
    .habit-info-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-around;
        align-items: center;
    }
}

/* mile section */

.mile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(34, 34, 34);
    border-radius: 15px;
    padding: 35px;
}

.mile-text{
    flex-basis: 40%;
    margin-left: 30px;
}

.mile-img{
    flex-basis: 40%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 15px;
}

.mile-img img{
    width: 90%;
    
    transform: translate(-35%, 30%) scale(2.8);
    /* transform: translate(5%, 5%); */  
}


/* mile section responsive for mobile */

@media screen and (max-width: 576px) {
    
    .mile{
        flex-direction: column;
        gap: 40px;
        margin: 5%;
    }
    .mile-text{
        flex-basis: 90%;
    }
    .mile-text h3{
        font-size: 32px;
        line-height: 120%;
        font-weight: 800;
    }
    .mile-img img{
        transform: translate(-45%, 50%) scale(3.6);
    }
    
}


/* mile section responsive for tablet */

@media screen and (min-width: 577px) and (max-width: 992px)  {
    .mile-text h3{
        font-size: 32px;
    }
    .mile-img img{
        width: 130%;
        /* height: 370px; */
        
        transform: translate(-45%, 40%) scale(3);
        /* transform: translate(5%, 5%); */  
    }
    .mile-img{
        flex-basis: 50%;
    }
    
} 
    



/* training section */

.training-img-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.training-img-container img{
    width: 100%;
    height: 100%;
}

/* .training-img-container:nth-child(.training-img-container:nth-child(1)) p{
    position: absolute;
    top: 0;
} */

.text-odd{
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    width: 180px;
}

.text-even{
    position: absolute;
    top: 5%;
    left: 5%;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    width: 190px;
}

.bg{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    position: absolute;
    /* z-index: -1; */
}

.bg-1{
    background: rgba(6, 255, 210, 0.5);
}

.bg-2{
    background: rgba(255, 0, 0, 0.3);
}

.bg-3{
    background: rgba(0, 0, 0, 0.5);
}

.bg-4{
    background: rgba(0, 0, 0, 0.5);
}

.bg-5{
    background: rgba(66, 255, 0, 0.3);
}

.bg-6{
    background: rgba(0, 71, 255, 0.3);
}

.img-1{
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    height: 250px;
    position: relative;
    /* z-index: 1; */
}

.img-2{
    grid-column: 4 / span 6;
    grid-row: 1 / span 3;
    height: 250px;
    position: relative;
}

.img-3{
    grid-column: 10 / span 3;
    grid-row: 1 / span 3;
    height: 250px;
    position: relative;
}

.img-4{
    grid-column: 1 / span 5;
    grid-row: 4 / span 3;
    height: 250px;
    position: relative;
}

.img-5{
    grid-column: 6 / span 3;
    grid-row: 4 / span 3;
    height: 250px;
    position: relative;
}

.img-6{
    grid-column: 9 / span 4;
    grid-row: 4 / span 3;
    height: 250px;
    position: relative;
}


/* training section responsive for mobile */

@media screen and (max-width: 576px) {
    .training{
        margin: 5%;
    }
    .img-1{
        grid-column: 1 / span 5;
    }
    
    .img-2{
        grid-column: 6 / span 12;
    }
    .img-3{
        display: none;
    }
    
    .img-4{
        grid-column: 7 / span 12;
    }
    .img-5{
        grid-column: 1 / span 6;
    }
    
    .img-6{
        display: none;
    }
    .training-text h3{
        font-size: 32px;
        font-weight: 800;
        line-height: 120%;
        width: 80%;
    }
    
}



/* training section responsive for tablet */

@media screen and (min-width: 577px) and (max-width: 992px) {
    .training-img-container{
        display: grid;
        grid-column: span 2;
    }
}



/* calculator section */

.calculator{
    margin-top: 90px;
    
}

.calculator-card{
    display: flex;
    padding: 50px 75px;
    background: rgb(34, 34, 34);
}

.calculator-chart{
    flex-basis: 50%;
}

.calculator-form{
    flex-basis: 50%;
}

.calculator-text{
    /* display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: left;
    align-items: center; */
    text-align: center;
    margin-bottom: 50px;
}


.calculator-chart{
    margin-top: 30px;
}

.calculator-card h4{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 120%;
}

.calculator-chart table{
    margin-top: 50px;
}

.calculator-chart th{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
}

.calculator-chart tr{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 120%;
}

.calculator-chart table, th, td{
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-collapse: collapse;
}

.calculator-chart th, td{
    padding: 10px;
}

.calculator-form-container{
    display: flex;
    flex-direction: column;
}

.calculator-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
}


.calculator-form input,select{
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);;
}

select option{
    background: #000;
}

#activity{
    grid-column: 1 / span 2;
}


/* calculator section responsive for mobile */

@media screen and (max-width: 576px) {
    .calculator-text{
        text-align: left;
        margin-left: 20px;
    }
    .calculator-card{
        flex-direction: column;
        gap: 40px;
        padding: 50px 15px;
    }
    .calculator-form{
        width: 80%;
        padding-right: 10px;
        padding-left: 0;
        margin-left: 0;
    }
    calculator-chart h4{
        font-size: 42px;
    }
    .calculator-chart table{
        width: 80%;
    }
    .calculator-form input{
        width: 140px;
    }
}


/* calculator section responsive for tablet */

@media screen and (min-width: 577px) and (max-width: 992px) {
    .calculator-text{
        display: grid;
        width: 80%;
        text-align: left;
        margin-left: 20px;
        margin-bottom: 50px;
    }
    .calculator-card{
        display: flex;
        flex-direction: column;
        padding: 50px 75px;
        background: rgb(34, 34, 34);
    }
    .calculator-chart{
        margin-bottom: 40px;
    }
    .calculator-chart table{
        width: 60%;
    }
    .calculator-form{
        padding-left: 0;
        margin-left: 0;
    }
}



/* team section */

.team{
    margin-top: 90px;
    margin-bottom: 90px;
}

.team-text{
    text-align: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    
}

.team-img-container img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.team-img-container h4{
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    padding-bottom: 0;
    margin-bottom: 0;
}

.team-img-container p{
    padding-top: 0;
    margin-top: 0;
}

.team-img{
    position: relative;
}

.team-img .team-img-text{
    position: absolute;
    bottom: 5%;
    left: 5%;
}


/* team section responsive for mobile */

@media screen and (max-width: 576px) {
    .team-text{
        width: 80%;
        margin: 30px auto;
    }
    
    .team-text h3{
        font-size: 32px;
    }
    .team-img-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 20px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 20px;
    }
    .team-img-5{
        display: none;
    }
    .team-img-6{
        display: none;
    }
}


/* review section */


.review-box{
    margin-top: 0;
    margin-bottom: 0;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.review-heading{
    margin-bottom: 4rem;
}

.review-box img{
    width: 5rem;
    border-radius: 50%;
}

.wrapper h2{
    color: #fff;
}

.fa-star{
    color: #fff;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: auto;
    background: rgb(34, 34, 34);
    border-radius: 15px;
    padding: 50px 30px;
}

.review-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.review-item img{
    width: 100px;
    height: 100px;
}


/* review section responsive for mobile */

@media screen and (max-width: 576px) {
    .wrapper{
        grid-template-columns: 1fr;
        max-width: 500px;
        margin: 0 auto;
    }
    .review-item p{
        width: 80%;
    }

    .review-heading{
        margin-top: 0;
        margin-bottom: 0;
        font-size: 32px;
        font-weight: 800;
        margin-bottom: 50px;
    }
}





/* footer section */

.footer-container{
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 0;
}

.footer{
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.footer-col-1{
    flex-basis: 40%;
}

.footer-col-2{
    flex-basis: 20%;
}

.footer-col-3{
    flex-basis: 20%;
}

.footer h4{
    color: rgb(255, 255, 255);
    font-size: 32px;
    line-height: 120%;
    font-weight: 700;
    margin-bottom: 30px;
}

.footer li{
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    line-height: 120%;
    font-weight: 400;
    list-style-type: none;
}

.footer h1{
    color: rgb(230, 83, 60);
    font-size: 70px;
    line-height: 120%;
    font-weight: 800;
}

.social-container{
    display: grid;
    place-items: center;
}

.social{
    margin-bottom: 30px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.fa-brands{
    color: #fff;
}

hr{
    /* background: red; */
    border: 2px solid rgba(255, 255, 255, 0.1);
    width: 90%;
    margin: 50px auto;
}

.copyright{
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 0;
}


/* footer section responsive for mobile */

@media screen and (max-width: 576px) {
    .footer{
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px
    }
    .footer-col-2{
        text-align: left;
    }
}



/* footer section responsive for tablet */

@media screen and (min-width: 577px) and (max-width: 992px) {
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .footer-col-1{
        grid-column: 1 / -1;
        width: 60%;
        margin-bottom: 40px;
    }
    
    .footer-col-2{
        grid-column: 1 / 2;
    }
    
    .footer-col-3{
        grid-column: 2 / 3;
    }
    hr{
        /* background: red; */
        border: 2px solid rgba(255, 255, 255, 0.1);
        width: 90%;
        margin: 50px auto;
    }
    
}


